body {
  background-image: 
  url("../images/backgroundMutedSpringGreen.jpg");
  z-index: -1;
}
h1 {
font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size:  x-large;
font-display: bold;
color:  black;
}

h2{
font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size:  large;
font-display: bold;
color: black;
}

h3 {
 font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-size:  medium;
 font-display: bold;
 color:  red;

}

.bullet{
  position: absolute;
}
  li{
    list-style-type: none;
    color:  black;
  }

#scoreBoard{
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:  22pt;
  font-display:  bold;
  color:red;
  float:  center;
}
#scoreHead{
  background-color:  white;
  float:  center;
  font-size:  24pt;
  font-display:  bold;
  position:  relative;
}

#enemyEu{
  background-color:  black;
  float:  left;
  font-size:  18pt;
  font-display:  bold;
  position: relative;
}
#youEu{
  background-color:  black;
  float:  right;
  font-size:  18pt;
  font-display:  bold;
  position:  relative;
}

#characterLocation{
  width:  250px;
  padding:  25px;
  float:  left; 
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:  18pt;
  font-display:  bold;

}

#enemyLocation{
  width:  250px;
  padding:  25px;
  float: right;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:  18pt;
  font-display:  bold;
}

.locations{
  align-items: center;
  align-items:  stretch;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:  24pt;
  font-display:  bold;
}
.enemies{
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:  24pt;
  font-display:  bold;
  
  }
.superheroes{
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 24pt;
  font-display:  bold;
  }

#chooseStmt {
  width:  900;
  height:  20;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:  36pt;
  font-display:  bold;
  }  

#batmanImg {
  border:  3px solid black;
  border-radius:  14px;
  padding: 2px;
  margin:  10px,75px,10px,75px;
  color:  black;
}

#supermanImg {
  border:  3px solid black;
  border-radius:  14px;
  padding: 2px;
  margin:  10px,75px,10px,75px;
}

#powerOneImg {
  border:  3px solid black;
  border-radius:  14px;
  padding: 2px;
  margin:  10px,75px,10px,75px;
}

#supercatImg {
  border:  3px solid black;
  border-radius:  14px;
  padding: 2px;
  margin:  10px,75px,10px,75px;
}

#stormImg {
  border:  3px solid black;
  border-radius:  14px;
  padding: 2px;
  margin:  10px,75px,10px,75px;
}

#pinkImg{
  border:  3px solid black;
  border-radius:  14px;
  padding: 2px;
  margin:  10px,75px,10px,75px;
}
  
#sicknessImg {
  border: 3px solid black;
  border-radius: 14px;
  padding: 2px;
  margin:  10px,75px,10px,75px;
}

#bullyImg {
  border:  3px solid black;
  border-radius: 14px;
  padding:  2px;
  margin:  10px,75px,10px,75px;
}

#pestilenceImg {
  border:  3px solid black;
  border-radius:  14px;
  padding:  2px;
  margin:  10px,75px,10px,75px;
}

#slanderImg{
  border:  3px solid black;
  border-radius:  14px;
  padding: 2px;
  margin:  10px,75px,10px,75px;
}


#myContainer {
    
    background-image: url("../images/backgroundMutedSpringGreen.jpg");
    z-index: -1;
  }
  
  
  